@import url("https://fonts.googleapis.com/css2?family=Overpass:wght@100;200;300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500&display=swap");

:root {
  --black: #222;
  --white: #fff;
  --light-black: #666;
  --light-white: #ccc;
  --light-bg: #f5f5f5;
  --dark-bg: rgba(0, 0, 0, 0.5);
}
* {
  font-family: "Overpass", Courier, monospace;
  list-style: none;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  outline: none;
  background: none;
  border: none;
  text-decoration: none;
  text-transform: capitalize;
  /* transition: all 0.5s cubic-bezier(0.43, 1.1, 0.62, 1.08); */
  color: var(--white);
}
html {
  font-size: 80%;
  overflow: hidden;
  scroll-behavior: smooth;
  scroll-padding-top: 6rem;
}
html::-webkit-scrollbar {
  width: 1rem;
}
html::-webkit-scrollbar-track {
  background-color: var(--white);
}
html::-webkit-scrollbar-thumb {
  background-color: var(--black);
}
body {
  background-color: #000;
}
.btn {
  margin-top: 1rem;
  display: inline-block;
  background: transparent;
  background-color: var(--white);
  color: var(--black);
  font-size: 2rem;
  padding: 1rem 3rem;
  cursor: pointer;
}
.btn:hover {
  background-color: transparent;
  color: var(--white);
}
/* section {
  padding: 5rem 10%;
} */
/* --------- header section --------- */
.header {
  padding: 1rem 10%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: sticky;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
  background-color: var(--black);
}
.header .logo img {
  width: 4rem;
  margin-right: 0.5rem;
  display: inline;
}
.header .logo p {
  display: inline;
  font-size: 1.6rem;
  padding-bottom: 2rem;
}
.header .logo p sub {
  font-size: 1.1rem;
}

.header .navbar a {
  font-size: 1.3rem;
  margin-left: 2rem;
  position: relative;
}
.header .navbar a::after {
  content: "";
  position: absolute;
  background-color: #fff;
  width: 0;
  height: 1px;
  left: 0;
  bottom: -10px;
  transition: all 0.3s;
  transform-origin: center;
}
.header .navbar a:hover::after {
  width: 100%;
}
#menu-btn {
  font-size: 2rem;
  cursor: pointer;
  display: none;
}
.header .icons i {
  margin-right: 1rem;
  font-size: 1.5rem;
  cursor: pointer;
}
.header .search-form {
  position: absolute;
  top: 115%;
  right: 7%;
  background: var(--white);
  width: 50rem;
  height: 5rem;
  display: flex;
  align-items: center;
  transition: all 0.5s linear;
  opacity: 0;
}
.header .search-form .show-search-form {
  opacity: 1;
}
.header .search-form input {
  width: 100%;
  height: 100%;
  padding: 1rem;
  text-transform: none;
  font-size: 1.5rem;
  color: var(--black);
}
.header .search-form input::placeholder {
  color: var(--black);
}
.header .search-form label {
  color: var(--black);
  margin-right: 1.5rem;
  cursor: pointer;
  font-size: 1.3rem;
}
/* -------- home section ----------- */
.home,
.home-slider {
  padding: 0;
}
.home-slider {
  width: 100%;
  height: 100vh;
  display: flex;
}

.slider {
  width: 100vw;
  height: 80vh;
  display: flex;
  position: relative;
  overflow: hidden;
}
.slider::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: var(--dark-bg);
  z-index: 2;
}
.slider-item,
.slider-item section {
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center;
}
.prev,
.next {
  position: absolute;
  z-index: 10;
  height: 100%;
  width: 40px;
  background-color: transparent;
  font-size: 2rem;
  color: rgba(255, 255, 255, 0.5);
  transition: all 230ms ease;
  cursor: pointer;
  display: none;
}
.prev i,
.next i {
  padding: 1rem;
}
.prev i:hover,
.next i:hover {
  background-color: var(--light-black);
  border-radius: 50%;
  transition: all 0.3s ease-in-out;
  padding: 1rem;
}
.prev {
  left: 0;
}
.next {
  right: 0;
}
.home .slider .content {
  position: relative;
  text-align: center;
  margin: auto;
  top: 40%;
}
@keyframes fadeIn {
  0% {
    transform: translateY(-1rem) scale(0);
  }
}
.home .slider .content p {
  display: block;
  font-size: 3rem;
  padding-bottom: 0.5rem;
  color: var(--white) !important;
  transition: all 0.5s cubic-bezier(0.43, 1.1, 0.62, 1.08);
  animation: fadeIn 0.4s cubic-bezier(0.54, 1.3, 0.63, 1.34) 0.2s backwards;
}
.home .slider .content h3 {
  font-size: 5vw;
  text-transform: uppercase;
  padding-bottom: 0.5rem;
  color: #fff;
  padding: 2rem 0;
  transition: all 0.5s cubic-bezier(0.43, 1.1, 0.62, 1.08);
  animation: fadeIn 0.4s cubic-bezier(0.54, 1.3, 0.63, 1.34) 0.4s backwards;
}
.home .slider .content .btn {
  animation: fadeIn 0.4s cubic-bezier(0.54, 1.3, 0.63, 1.34) 0.6s backwards;
}
/* .home .slider-container .slide::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: var(--dark-bg);
  z-index: 2;
} */
/* .home .home-slider .slide-img {
  transition: all 0.5s ease;
  background-size: cover !important;
  background-position: center !important;
  min-height: 100vh;
  width: 100vw;
  position: relative;
  z-index: 0;
  opacity: 0;
}
.home .home-slider .slide-img::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: var(--dark-bg);
  z-index: -1;
} */
/* .nav .nav-socials {
  display: flex;
  margin-top: 0 1rem;
  align-items: center;
}
.nav .nav-socials i {
  margin: 0 0.5rem;
  font-weight: 300;
  font-size: 0.9rem;
  cursor: pointer;
}
.nav .nav-btn {
  display: flex;
  align-items: center;
  transition: all 0.9s ease;
}
.nav .nav-btn button {
  text-transform: uppercase;
  font-weight: 300;
  font-size: 0.9rem;
  cursor: pointer;
  color: #000;
  background: #fff;
  padding: 0.8rem 1.5rem;
  border: 2px solid #fff;
  transition: all 0.6s ease;
}

.nav .nav-btn button:hover {
  background: transparent;
  color: #fff;
}
.menu-icon {
  color: #fff;
  font-size: 25px;
  cursor: pointer;
  display: none !important;
}
.search-section {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-top: 5rem;
  position: relative;
}
.search-icon {
  color: #fff;
  position: absolute;
  font-size: 20px;
  right: 58.7%;
  top: 31%;
}
.search-section .search-input {
  font-size: 1.5rem;
  color: #fff;
  border-bottom: 1px solid #fff;
  padding: 1rem;
}
.search-section .search-input::placeholder {
  margin-left: 0.5rem;
  color: #fff;
  font-weight: 100;
} */
/* -------- Media Queries -------- */
@media screen and (max-width: 1200px) {
}
@media screen and (max-width: 991px) {
  html {
    font-size: 55%;
  }
}
@media screen and (max-width: 768px) {
  #menu-btn {
    display: inline-block;
    transition: all 0.5s ease;
  }
  .fa-times {
    transform: rotate(180deg);
  }
  .header .navbar {
    position: absolute;
    top: 99%;
    left: -100%;
    right: 0;
    background-color: rgba(0, 0, 0, 0.691);
    width: 40vw;
    height: 100vh;
    text-align: center;
    transition: all 0.7s ease;
  }
  .header .navbar a {
    display: block;
    margin: 2rem;
  }
  .show-navbar {
    left: 0 !important;
  }
}
@media screen and (max-width: 450px) {
  html {
    font-size: 50%;
  }
  .home .slider .content h3 {
    font-size: 3rem;
  }
}
